.byContinents {
  max-width: 1000px;
}

.quiz-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
  animation: quiz-continent 1s 1;
  -webkit-animation: quiz-continent 1s 1;
}

/* .continent-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
} */

.continent-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
}

.continent-card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 24px 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
  width: 250px;
  animation: quiz-continent 1s 1;
  -webkit-animation: quiz-continent 1s 1;
}

.continent-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.continent-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 12px;
}

.continent-name {
  font-size: 20px;
  color: #222;
  font-weight: 600;
}

@keyframes quiz-continent {
  0% {
    opacity: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}