.searchDiv{
  position: relative;
}

.suggestions{
  z-index: 1000;
  position: absolute;
  background-color: #ffffff;
  list-style: none;
  padding: 5px;
  margin: 5px;
  border: 0.3px solid rgb(120, 120, 120);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}



.suggestions li{
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.suggestions li:hover{
  background-color: #acacac;
}

.displaySugg{
  display: none;
}

.input-search{
  margin-right: 8px;
  outline: none;
  padding: 8px 20px;
  border: none;
  width: 350px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 17px;
  font-weight: 500;
  border: 2px solid var(--secondary-color);
}

.button-search{
  padding: 8px 2px;
  border: none;
  width: 80px;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: var(--secondary-color);
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  margin-right: 8px;
}

@media (max-width: 1015px){
  .input-search{
    width: 300px;
    font-size: 16px;
    font-weight: 500;
  }
  .button-search{
  border: none;
  width: 70px;
  text-align: center;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  font-size: 16px;
  font-weight: 400;
}
}

@media (max-width: 664px){
  .nav-link-1{
    font-size: 16px;
    margin-right: 10px;
  }
  .input-search{
    width: 250px;
    font-size: 15px;
  font-weight: 400;
  }
  .button-search{
  border: none;
  width: 60px;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 14px;
  font-weight: 400;
}
}

@media (max-width: 582px){
  .nav-link-1{
    font-size: 14px;
    margin-right: 10px;
  }
  .input-search{
    width: 200px;
    font-size: 14px;
    font-weight: 500;
  }
  .button-search{
  border: none;
  width: 55px;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 13px;
  font-weight: 400;
}
}

@media (max-width: 511px){
  .searchDiv{
    position: relative;
  }
  .searchButtons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  margin: 5px 0;
}
}