*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-color: #2196F3;
  --primary-color-dark: #2C3E50;
  --primary-color-sky: #1E88E5;
  --secondary-color: #4CAF50;
  --secondary-color-dark: #578052;
  --background-color: #E0E0E0;
  --text-color: #333;
}

body {
  background-color: rgb(184, 189, 190) !important; 
  overflow-x: hidden !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
